html, body {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
  width: 100%;
  height: 100%;
}

input {
  border: 0;
  margin: 0;
  padding: 0;
  height: 25px;
  border-radius: 5px;
}

input:input {
  border: 0;
}

.hide {
  display: none;
}

.active {
  border: 1px solid #fd0303;
}

input[type="text"] {
  padding-left: 10px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.container {
  padding: 10px;
}

.button {
  background-color: #84d455;
  cursor: pointer;
  padding: 5px;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
}

.button:hover {
  background-color: #a3eb7a;
}

.button:active {
  background-color: #6ea075;
}

.button-blue {
  background-color: #39b8bd;
  cursor: pointer;
  padding: 5px;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
}

.button-blue:hover {
  background-color: #78e0e4;
}

.button-blue:active {
  background-color: #427475;
}

.button__view {
  margin-bottom: 10px;
}

.input__create, .input__update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.color__car-create, .color__car-update {
  margin: 0px 10px;
}

.garage .garage-title {
  font-weight: 600;
}

.button__remove {
  margin: 0 10px;
}

.car__block {
  margin-bottom: 10px;
}

.car__block-button {
  margin-bottom: 10px;
}

.car__block-button span {
  color: #e2b00a;
}

.car__block-buttonA, .car__block-buttonB {
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.car__block-buttonA {
  background-color: black;
  border: 1px solid #84d455;
  color: #84d455;
}

.car__block-buttonB {
  background-color: black;
  border: 1px solid red;
  color: red;
}

.car__block-img {
  border-bottom: 1px dashed white;
  position: relative;
}

.svg__car {
  display: inline-block;
  position: relative;
}

.flag__block {
  position: absolute;
  top: 0;
  right: 7%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__number {
  color: #00ccff;
  margin: 0px 3px;
  cursor: pointer;
}

.table .header__table {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table .header__table .number__id, .table .header__table .car, .table .header__table .name__car, .table .header__table .win, .table .header__table .best__time {
  text-align: center;
  border: 1px solid white;
  background-color: #27c2d6;
  padding: 5px;
}

.table .header__table .number__id p, .table .header__table .car p, .table .header__table .name__car p, .table .header__table .win p, .table .header__table .best__time p {
  margin: 0px;
}

.startAnumation {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slidein {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

@keyframes slidein {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}
/*# sourceMappingURL=style.css.map */