html, body {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
  width: 100%;
  height: 100%;
}
input{
  border: 0;
  margin: 0;
  padding: 0;
  height:25px;
  border-radius:5px;
  &:input{
    border: 0;
  }
}
.hide{
  display: none;
}
.active{
  border: 1px solid rgb(253, 3, 3);
}
input[type="text"]{
  padding-left: 10px;
}
$colorButton: rgb(132, 212, 85);
$colorButtonHover: rgb(163, 235, 122);
$colorButtonActive: rgb(110, 160, 117);
$colorblueButton: rgb(57, 184, 189);
$colorblueButtonHover: rgb(120, 224, 228);
$colorblueButtonActive: rgb(66, 116, 117);
.wrapper{
  width: 100vw;
  height: 100vh;
  background-color:black;
}
.container{
  padding: 10px;
}
.button{
  background-color:$colorButton;
  cursor: pointer;
  padding:5px;
  text-transform: uppercase;
  border: 0;
  border-radius:5px;
  font-weight: 600;
  &:hover{
    background-color:$colorButtonHover;
  }
  &:active{
    background-color:$colorButtonActive;
  }
}
.button-blue{
  background-color:$colorblueButton;
  cursor: pointer;
  padding:5px;
  text-transform: uppercase;
  border: 0;
  border-radius:5px;
  font-weight: 600;
  &:hover{
    background-color:$colorblueButtonHover;
  }
  &:active{
    background-color:$colorblueButtonActive;
  }
}
.button__view{
  margin-bottom: 10px;
}
.input__create, .input__update{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}
.color__car-create, .color__car-update{
  margin: 0px 10px;
}
.garage{
  .garage-title{
    font-weight: 600;
  }
}
.button__remove{
  margin: 0 10px;
}
.car__block{
  margin-bottom: 10px;
}
.car__block-button{
  margin-bottom: 10px;
  span{
    color: rgb(226, 176, 10);
  }
}
.car__block-buttonA, .car__block-buttonB{
    
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    margin-right: 10px;
}
.car__block-buttonA{
  background-color: black;
  border: 1px solid $colorButton; 
  color: $colorButton;
}
.car__block-buttonB{
  background-color: black;
  border: 1px solid red; 
  color: red;
}
.car__block-img{
  border-bottom: 1px dashed white;
  position: relative;
}
.svg__car{
  display: inline-block;
  position: relative;
}
.flag__block{
  position: absolute;
  top: 0;
  right: 7%;
}
.pagination{
  display: flex;
}
.page__number{
  color: rgb(0, 204, 255);
  margin: 0px 3px;
  cursor: pointer;
}