html, body {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
}
input{
  border: 0;
  margin: 0;
  padding: 0;
  height:25px;
  border-radius:5px;
  &:input{
    border: 0;
  }
}
$colorButton: rgb(132, 212, 85);
$colorButtonHover: rgb(163, 235, 122);
$colorButtonActive: rgb(110, 160, 117);
$colorblueButton: rgb(57, 184, 189);
$colorblueButtonHover: rgb(120, 224, 228);
$colorblueButtonActive: rgb(66, 116, 117);
.wrapper{
  width: 100vw;
  height: 100vh;
  background-color:black;
}
.container{
  padding: 10px;
}
.button{
  background-color:$colorButton;
  cursor: pointer;
  padding:5px;
  text-transform: uppercase;
  border: 0;
  border-radius:5px;
  font-weight: 600;
  &:hover{
    background-color:$colorButtonHover;
  }
  &:active{
    background-color:$colorButtonActive;
  }
}
.button-blue{
  background-color:$colorblueButton;
  cursor: pointer;
  padding:5px;
  text-transform: uppercase;
  border: 0;
  border-radius:5px;
  font-weight: 600;
  &:hover{
    background-color:$colorblueButtonHover;
  }
  &:active{
    background-color:$colorblueButtonActive;
  }
}
.button__view{
  margin-bottom: 10px;
}
.input__create, .input__update{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}
.color__car-create, .color__car-update{
  margin: 0px 10px;
}

